<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示配件</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/peiJianList.js"></script>
</head>
<body>
<div>
    <h5><a  href="/page/showPage">返回主页</a></h5>
</div>
<div>
    <table id="peiJianTable" border="2" width="1000px">
        <thead>
        <tr>
            <th>序号</th>
            <th>配件名称</th>
            <th>配件类型</th>
            <th>配件容量</th>
            <th>配件价格</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>西数硬盘</td>
            <td>硬盘</td>
            <td>500G</td>
            <td>289</td>
        </tr>
        </tbody>

    </table>
    <div id="pageFoot" style="position: relative">
        <span>共13条记录,当前第1页/共3页,首页,上一页,<button>下一页</button>,尾页</span>
    </div>



</div>


</body>
</html>